@font-face{
    font-family: "Montserrat Light";
    src: url("../fonts/Montserrat-Light.ttf")
}
@font-face{
    font-family: "Montserrat";
    src: url("../fonts/Montserrat-Regular.ttf")
}
@font-face{
    font-family: "Raleway";
    src: url("../fonts/Raleway-Regular.ttf")
}
@font-face{
    font-family: "Raleway Bold";
    src: url("../fonts/Raleway-Bold.ttf")
}
@font-face{
    font-family: "Raleway ExtraBold";
    src: url("../fonts/Raleway-ExtraBold.ttf")
}
@font-face{
    font-family: "Raleway Medium";
    src: url("../fonts/Raleway-Medium.ttf")
}
@font-face{
    font-family: "Raleway Medium";
    src: url("../fonts/Raleway-Medium.ttf")
}
@font-face{
    font-family: "icomoon";
    src: url("../fonts/icomoon.ttf")
}

